<!DOCTYPE html>
<html>
<head>
  <title>Livecoderesult</title>
  <%= stylesheet_link_tag    "livecoderesult/application", media: "all" %>
  <%= javascript_include_tag "livecoderesult/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
